<app-alert-box
[type]="'success'"
[text]="text1"
(onClickClose)="onClose($event)"></app-alert-box>
<app-alert-box
[type]="'warning'" 
[text]="text2"
(onClickClose)="onClose($event)"></app-alert-box>
<!-- il campo type è quello di alert-box.ts mentre quello dopo l'uguale si riferisce a una variabile contenuta nel ts di questo componente o un valore che gli passiamo noi;
     il text è la stessa cosa;
     l'onClickClose è l'evento che abbiamo dichiarato con il decoratore di Output all'interno di alert-box.component.ts e onClose è la funzione contenuta nel ts di app.component; -->