<div class="container-fluid">
  <div class="alert">
    <div class="row align-items-center"
      [ngClass]="{'success':types==='success', 'error':types==='error' , 'info':types==='info'}">
      <!--l'ngClass è una classe che verrà aggiunta se rispetta una determinata condizion-->
      <div class="icon col-auto align-self-stretch row align-items-center no-gutters">
        <!--align-self-stretch serve per adattarsi allo spazio della riga -->
        <div class="col" *ngIf="types===typeS">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="lightgreen" />
            <text x="3" y="16" fill="white">&#10003;</text>
          </svg>
        </div>
        <div class="col" *ngIf="types===typeE">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="red" />
            <text x="6,5" y="14" fill="white">x</text>
          </svg>
        </div>
        <div class="col" *ngIf="types===typeI">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="gray" />
            <text x="8" y="16" fill="white">i</text>
          </svg>
        </div>
      </div>


      <div class="text col">
        {{text}}
      </div>
      <div class="col-auto align-self-stretch" (click)="close()">
        <!--    -->
        X
      </div>
    </div>
  </div>
</div>