.container-fluid {
  padding: 0px;
  .alert {
    padding: 15px;
    .row {
      &.success {//la & serve per dire che c'è una classe è allo stesso livello di quella sopra
        outline: 1px solid #7DBC00;
        .icon{
            background-color: #7DBC00;
        }
    
      }
      &.error{
        outline: 1px solid red;
        .icon{
            background-color: red;
        }

      }
      &.info{
        outline: 1px solid gray;
        .icon{
            background-color: gray;
        }
        
      }
      &.warning{
        outline: 1px solid #FA9600;
        .icon{
            background-color: #FA9600;
        }
      }
      .icon {

        text-align: center;
        padding:10px 0px 10px 0px;

        width: 40px;
        .text{
          text-align: center
        }
      }
    }
  }
  .textx{
    font-size: 15px;
    cursor:pointer;
  }
}
