<div class="container-fluid">
  <div class="alert" *ngIf="checkVisibility()">
    <div class="row align-items-center"
      [ngClass]="{'success':type==='success', 'error':type==='error' , 'info':type==='info','warning':type==='warning'}">
      <!--l'ngClass è una classe che verrà aggiunta se rispetta una determinata condizion-->
      <div class="icon col-auto align-self-stretch row align-items-center no-gutters">
        <!--align-self-stretch serve per adattarsi allo spazio della riga -->
        <div class="col" *ngIf="type===typeS">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="#7DBC00" />
            <text x="3" y="16" fill="white">&#10003;</text>
          </svg>
        </div>
        <div class="col" *ngIf="type===typeE">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="red" />
            <text x="6,5" y="14" fill="white">x</text>
          </svg>
        </div>
        <div class="col" *ngIf="type===typeI">
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="gray" />
            <text x="8" y="16" fill="white">i</text>
          </svg>
        </div>

        <div class ="col" *ngIf="type===typeW" >
          <svg width="20" height="24">
            <circle cx="10" cy="10" r="9" stroke="white" stroke-width="1" fill="#FA9600"/>
            <text x="7.5" y="15" fill="white">!</text>
          </svg>

        </div>

      </div>


      <div class="text col">
        <ng-content></ng-content>
      </div>
      <div class="textx col-auto align-self-start" (click)="close()">
        <!--    -->
        X
      </div>
    </div>
  </div>
</div>